<h1>Listing attendances</h1>
<%= form_tag attendances_path, :method => "get" do %>
 <table>
    <tr>
        <td>User id</td> 
        <td><%= select_tag :userid, options_for_select(@users.collect{|u| [u.userid,u.userid]}) %>
        </td>
    </tr>
    <tr>
        <td>Month</td>
        <td> <%= select_tag "month", options_for_select(%w[Jan Feb March April May June July Augest Sept Oct Nov Dec])%>
        </td>
    </tr>
     
 </table>
 <%= submit_tag :find %>
<% end %>


   

<table>
  <tr>
    <th>Schoolfinishtime</th>
    <th>Userid</th>
    <th>Date</th>
    <th>Reachtime</th>
    <th>Leavetime</th>
    <th>Attendance</th>
    <th>Overtime</th>
    <th></th>
    <th></th>
  </tr>

<% @attendances.each do |attendance| %>

<% classendtime  = 0%>
<% @attendarray = [] %>
<% @cname = ' '%>
<% count = 0 %> 
......get attendances that time of attendance >=1 '@attendarray'
    <% @attendances.each do |att1|  %>
     
         <% if  att1.userid == attendance.userid && att1.date ==  attendance.date %>
        
             
             <% @attendarray += Array(att1)%>
             <% count +=1 %>
             
         <% end -%>
    <% end -%>
     <p> userid:<%= attendance.userid %>count: <%= count  %></p>
     <p> data in attendarray:<%= @attendarray %></p>

  <% @travelfees.each do |travelfee|  %>
   
   <% if (travelfee.date == attendance.date) && (travelfee.userid == attendance.userid) %>
       
      
       
   
       <br>

       <% @tclassname = travelfee.classname %>
       <%  @t1 = @tclassname.gsub "- ''", ',' %>
       <% @t2 = @t1.gsub "-", '' %>
       <% @getschool =  @t2.split(",") %>
   
       <% @getschool.each do |school|  %>
       
         
       
            <% if ((school.exclude? ' ') == false)%>
                  <% @cname = school.split(" ") %>
                    <% @cname.each do |c| %>
                      
        
                       <% @timetables.each do |timetable|  %>
                          
                          
                            <% if timetable.saturaday == true  && c == timetable.classname  %>
                              <td> <%= timetable.school %> <%= timetable.endtime %></td>
                               <% classendtime =  timetable.endtime.hour * 3600 + timetable.endtime.min * 60 +  timetable.endtime.sec  %> 
                           

                             <% elsif timetable.monday == true &&  c == timetable.classname %>
                              <td> <%= timetable.school %><%= timetable.endtime %></td>
                               <% classendtime =  timetable.endtime.hour * 3600 + timetable.endtime.min * 60 +  timetable.endtime.sec  %> 

                             <% elsif timetable.tuesday == true &&  c == timetable.classname %>
                               <td> <%= timetable.school %><%= timetable.endtime %></td>
                                <% classendtime =  timetable.endtime.hour * 3600 + timetable.endtime.min * 60 +  timetable.endtime.sec  %> 

                             <% elsif timetable.wednesday == true &&  c == timetable.classname %>
                                <td><%= timetable.school %><%= timetable.endtime %></td>
                                <% classendtime =  timetable.endtime.hour * 3600 + timetable.endtime.min * 60 +  timetable.endtime.sec  %> 

                             <% elsif timetable.thursday== true && c == timetable.classname %>
                                <td><%= timetable.school %><%= timetable.endtime %></td>
                                <% classendtime =  timetable.endtime.hour * 3600 + timetable.endtime.min * 60 +  timetable.endtime.sec  %> 

                             <% elsif timetable.friday == true &&  c == timetable.classname %>
                                <td><%= timetable.school %><%= timetable.endtime %></td>
                                <% classendtime =  timetable.endtime.hour * 3600 + timetable.endtime.min * 60 +  timetable.endtime.sec  %> 

                             <% elsif timetable.sunday == true && c == timetable.classname %>
                                <td><%= timetable.school %><%= timetable.endtime%></td>
                                <% classendtime =  timetable.endtime.hour * 3600 + timetable.endtime.min * 60 +  timetable.endtime.sec    %> 
                            <% end -%>
                        ////
                       <% end %>
                    <% end %>

            <% end %>
        <% end %>
      
     <% end %>

<% end %>    

    
 




<% att_reacht = attendance.reachtime.strftime("%H:%M:%S") %>
<% att_leavet = attendance.leavetime.strftime("%H:%M:%S") %>

  <tr>
    <td><%= attendance.userid %></td>
    <td><%= attendance.date %></td>
    <td><%= att_reacht %></td>
    <td><%= att_leavet %></td>
    <td><% if  ((att_reacht <= "08:30:00") && (att_leavet >= "17:00:00"))%>   Full Day 
          
            <% if ( (att_leavet > "17:30:00")) %>
                <td> <%= Time.at((attendance.leavetime.hour * 3600 + attendance.leavetime.min * 60 + attendance.leavetime.sec) - 63000).utc.strftime("%H:%M:%S")  %> 
                </td>
            <% end %>

        <% elsif  ((att_reacht <= "08:30:00")&&((att_leavet >= "12:00:00")&&(att_leavet < "17:00:00"))) %>        Half Day1

        <% else %>

            <% if   (((att_reacht > "08:30:00")&&(att_reacht <= "13:00:00"))&&(att_leavet >= "17:00:00")) %>
                Half Day2 
                
                    <% if ( (att_leavet > "17:30:00")) %>
                        <td>   <%= Time.at((attendance.leavetime.hour * 3600 + attendance.leavetime.min * 60 +  attendance.leavetime.sec) - 63000).utc.strftime("%H:%M:%S")  %> 
                        </td>
                <% end %>
                
            <% else %> Absent <td> </td>
                    
                    
            <% end %>

        <% end %>

    </td>
    
    <td><%= link_to 'Show', attendance %></td>
    <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
    <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>


<% end %>
</table>

<br />
<%= will_paginate @attendances %>
<%= link_to 'New Attendance', new_attendance_path %>
