<p id="notice"><%= notice %></p>
<% x = @attendance.reachtime.strftime("%H:%M:%S") %>
<% y = @attendance.leavetime.strftime("%H:%M:%S") %>
<% classendtime  = 0%>


  

<% timeinterval =0 %>
<% @timetables.each do |timetable|  %>
  <% @travelfees.each do |travelfee|  %>
     <% if (travelfee.date == @attendance.date) && (travelfee.classname == timetable.classname) %>

       <% if timetable.school == "Win" %>
      
            <%  timeinterval = 30 * 60 %> Win 30 min<%= timeinterval %>
       <% elsif  timetable.school == "Momiji" %>
      
             <%  timeinterval = 1 * 3600 %> Momiji 1 hr<%= timeinterval %>
       <% elsif timetable.school == "GIC" %> 
             <%= timetable.school %>
             
             <%  timeinterval = 15 * 60 %> GIC 15 min<%= timeinterval %>
       <% else %>
                  Out of bound
       
       <% end -%>
     <% end -%>
  <% end -%>
<% end %>
   <% timeshouldreach = Time.at(classendtime + timeinterval).utc.strftime("%H:%M:%S")%>

<% count = 0 %>
<% @attcount.each do |att1|  %>
  
         <% if  att1.userid == @attendance.userid && att1.date ==  @attendance.date %>
        
             <% count +=1 %>
    
          <% end -%>
<% end -%>
<p> count: <%= count  %></p>
 
<p>
  <b>Userid:</b>
  <%= @attendance.userid %>
</p>

<p>
  <b>Date:</b>
  <%= @attendance.date %>
</p>

<p>
  <b>Reachtime:</b>
  <%= x %>
</p>

<p>
  <b>Leavetime:</b>
  <%=  y %>
</p>
<p>
  <b>attendance:</b>
  <% if  ((x <= "08:30:00" || x <= timeshouldreach) && ( y >= "17:00:00"))%>
          
            Full Day
            <p>
             <% if ( ( y > "17:30:00")) %>

              <h3>  Overtime: <%= Time.at((@attendance.leavetime.hour * 3600 + @attendance.leavetime.min * 60 + @attendance.leavetime.sec) - 63000).utc.strftime("%H:%M:%S")  %> </h3>

             <% end %>
            </p>


   <% elsif  ((x <= "08:30:00" || x <= timeshouldreach)&&(( y >= "12:00:00")&&( y < "17:00:00"))) %>  halfday 1

    
   <% else %> 
           <% if   (((x > "08:30:00" || x > timeshouldreach)&&(x <= "13:00:00"))&&( y >= "17:00:00")) %>
           
            half day 2
                <p>
                  <% if ( ( y > "17:30:00")) %>

                    <h3>  Overtime: <%= Time.at((@attendance.leavetime.hour * 3600 + @attendance.leavetime.min * 60 + @attendance.leavetime.sec) - 63000).utc.strftime("%H:%M:%S")  %> </h3>

                  <% end %>
                </p>
              <% else %>
                  
                     
                    
                           

                     
                        
                          Absent
                
                  
                  
                   
                 
                



               
            <% end %>

   <% end %>
  
</p>




<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
